#css_table {
	display:table;
	width:100%;
	margin:8px 0;
	border:10px solid #7ecbfe;
  }
.css_tr {
	display: table-row;
	/*background-color:#1EA4FF;
	color:#FFFFFF;*/
  }
.css_td {
	display: table-cell;
	font-size:0.95em;
	text-align:left;
	padding:4px;
	border-collapse:collapse;
  }